@model ContratoVendaMestreModel
@using Sicle.Web.Areas.Contratos.Models
@{
    ViewData["Title"] = "SICLE";
}

<div class="row">
    <div class="col-md-6">
        <h2>Contrato de Venda Mestre</h2>
    </div>
</div>

<div class="row">  
    <div class="col-md-12">           
        <label class="col-md-6 control-label text-success">@Html.Raw(ViewBag.SuccessMsg)</label>
        <label class="col-md-6 control-label text-danger">@Html.Raw(ViewBag.ErrorMsg)</label>        
    </div>    
</div>

<div class="row">
    <div class="col-md-12 float-right">
        <form asp-action="Edit" method="post">

            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.CreationUserId)

            <div class="form-group row">  
                <div class="col-sm-1">
                    <label asp-for="SicleId" class="col-form-label"></label>     
                </div>           
                <div class="col-sm-2">
                    <input asp-for="SicleId" class="form-control" disabled>
                    <span asp-validation-for="SicleId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">  
                <div class="col-sm-1">
                    <label asp-for="Nickname" class="col-form-label"></label>     
                </div>           
                <div class="col-sm-6">
                    <input type="text" asp-for="Nickname" class="form-control">
                    <span asp-validation-for="Nickname" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row"> 
                <div class="col-sm-1">
                    <label asp-for="Observation" class="col-form-label"></label>          
                </div>      
                <div class="col-sm-6">
                    <input  type="text" asp-for="Observation" class="form-control">
                    <span asp-validation-for="Observation" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row"> 
                <div class="col-sm-1">
                    <label asp-for="CreationDate" class="col-form-label"></label>          
                </div>      
                <div class="col-sm-6">
                    <input type="text" asp-for="CreationDate" class="form-control" asp-format="{0:dd/MM/yyyy}" readonly>             
                </div>               
            </div>

            <div class="form-group row"> 
                <div class="col-sm-1">
                    <label asp-for="CreationUser.Nome" class="col-form-label"></label>          
                </div>      
                <div class="col-sm-6">
                    <input asp-for="CreationUser.Nome" class="form-control" disabled>                    
                </div>
            </div>



            <div class="form-group row">                 
                <div class="custom-control custom-checkbox custom-control-inline col-sm-3">
                    <input class="custom-control-input position-static" type="checkbox" asp-for="IsActive" id="chkBroker">
                    <label class="custom-control-label" for="chkBroker">Ativo?</label>
                </div>
            </div>          


            <div class="form-group row">
                <div class="col-sm-4">
                    <input type="submit" name="btnSearch" value="Salvar" class="btn btn-success btn-sm" />     
                </div>
            </div>
            
        </form>
    </div>
</div>