@model Dominio.Entidades.Acesso.Usuario
@{
    ViewData["Title"] = "Usuários";
}

<div class="form-group">
    <div class="col-md-6">
       <a href="@Url.Action("Index", "Usuario")" class="text-secondary"><h2>Usuários</h2></a>
    </div>
</div>
<div class="form-group">
    <div class="col-md-6">
        <label class="col-md-6 control-label text-danger">@Html.Raw(ViewBag.Msg)</label>
    </div>
</div>

<form class="form-horizontal" asp-action="Salvar" asp-controller="Usuario" asp-area="Acessos" method="POST">

    <input type="hidden" class="form-control" asp-for="Id">

    <div class="form-group">
        <label class="col-md-2 control-label" for="Matricula">Matricula</label>
        <div class="col-md-4">
            <input type="text" class="form-control" asp-for="Matricula">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="Nome">Nome</label>
        <div class="col-md-4">
            <input type="text" class="form-control" asp-for="Nome">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="NomeSGP">Nome SGP</label>
        <div class="col-md-4">
            <input type="text" class="form-control" asp-for="NomeSGP">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="Email">Email</label>
        <div class="col-md-4">
            <input type="text" class="form-control" asp-for="Email">
        </div>
    </div>

    <div class="form-group">

        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" asp-for="IsTraderComb">
            <label class="custom-control-label" for="IsTraderComb">Trader Comb</label>
        </div>

        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" asp-for="IsTraderEAB">
            <label class="custom-control-label" for="IsTraderEAB">Trader EAB</label>
        </div>

        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" asp-for="IsScaPerfil">
            <label class="custom-control-label" for="IsScaPerfil">Sca Perfil</label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <button class="btn btn-success">Save</button>
        </div>
    </div>

</form>


