@model Dominio.Entidades.Acesso.PerfilVenda
@using  Dominio.Entidades.Acesso
@{
    ViewData["Title"] = "Perfil de Venda";
}

<div class="form-group">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "PerfilVenda")" class="text-secondary"><h2>Perfil de Venda</h2></a>
    </div>
</div>
<div class="form-group">
    <div class="col-md-6">
        <label class="col-md-6 control-label text-danger">@Html.Raw(ViewBag.Msg)</label>
    </div>
</div>


<form class="form-horizontal" asp-action="Salvar" asp-controller="PerfilVenda" asp-area="Acessos" method="POST">

    <input type="hidden" class="form-control" asp-for="Id">

    <div class="form-group">
        <label class="col-md-4 control-label" for="Code">Code</label>
        <div class="col-md-8">
            <input type="text" class="form-control" asp-for="Code">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="Nome">Nome</label>
        <div class="col-md-8">
            <input type="text" class="form-control" asp-for="Nome">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="VlVolume">Volume</label>
        <div class="col-md-8">
            <input type="text" class="form-control" asp-for="VlVolume">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="VlPrazo">Prazo</label>
        <div class="col-md-8">
            <input type="text" class="form-control" asp-for="VlPrazo">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="VlVolumeContrato">Volume Contrato</label>
        <div class="col-md-8">
            <input type="text" class="form-control" asp-for="VlVolumeContrato">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="VlVolumeComplemento">Volume Complemento</label>
        <div class="col-md-8">
            <input type="text" class="form-control" asp-for="VlVolumeComplemento">
        </div>
    </div> 

    <div class="form-group">
        <label class="col-md-4 control-label" for="VlVolumeMaxOrderContrato">Máx. Volume Contrato de Vendas</label>
        <div class="col-md-8">
            <input type="text" class="form-control" asp-for="VlVolumeMaxOrderContrato">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="VlValorComplementoPreco">Valor Complemento Preço</label>
        <div class="col-md-8">
            <input type="text" class="form-control" asp-for="VlValorComplementoPreco">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="VlVolumeMaxOrderDerivatives">Máx. Volume Venda Derivativos</label>
        <div class="col-md-8">
            <input type="text" class="form-control" asp-for="VlVolumeMaxOrderDerivatives">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="VlVolumeMaxOrderSubproduct">Máx. Volume de Venda Subprodutos</label>
        <div class="col-md-8">
            <input type="text" class="form-control" asp-for="VlVolumeMaxOrderSubproduct">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="MaxPeriodSaleForeignContract">Máx. Período Contrato ME</label>
        <div class="col-md-8">
            <input type="text" class="form-control" asp-for="MaxPeriodSaleForeignContract">
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-4 control-label" for="MaxPeriodSaleContract">Máx. Período de Contrato MI</label>
        <div class="col-md-8">
            <input type="text" class="form-control" asp-for="MaxPeriodSaleContract">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="ProfileLevel">Nível do Perfil</label>
        <div class="col-md-8">
            <select asp-for="ProfileLevel" asp-items="Html.GetEnumSelectList<ProfileLevel>()" class="form-control">
                <option selected="selected" value="">Selecione</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" asp-for="IsProvisionApprover">
            <label class="custom-control-label" for="IsProvisionApprover">Aprova Provisão</label>
        </div>

        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" asp-for="IsForecastApprover">
            <label class="custom-control-label" for="IsForecastApprover">Aprova Forecast</label>
        </div>

        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" asp-for="IsContractPriceApprover">
            <label class="custom-control-label" for="IsContractPriceApprover">Aprova Preço Contrato</label>
        </div>
    </div>

    <div class="form-group">
        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" asp-for="IsYnorFromYcnrApprover">
            <label class="custom-control-label" for="IsYnorFromYcnrApprover">Aprova YNOR/YCNR</label>
        </div>

        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" asp-for="IsComplementApprover">
            <label class="custom-control-label" for="IsComplementApprover">Aprova Complemento</label>
        </div>

        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" asp-for="IsFinanceEndorsement">
            <label class="custom-control-label" for="IsFinanceEndorsement">Aprova Finanças</label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <button class="btn btn-success">Salvar</button>
        </div>
    </div>

</form>


